<h3 class="ui top attached header">
  Remove Client
</h3>
<div class="ui attached segment">
  <form class="ui form">
    <div class="field">
      <label>Client ID</label>
      <input type="text" id="update_id" placeholder="Client ID">
    </div>
    <!-- maybe some password requirement, for now a popup will do -->
    <button class="ui button" onclick="removeBtn();" type="button">Submit</button>
  </form>
  <div class="ui error message">
    <div class="header">Error</div>
    <p></p>
  </div>
</div>
