*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Latex files
*.aux
*.log
*.synctex.gz

Documentation/\.DS_Store

\.DS_Store
a/

application/.settings
application/.project

application/faceRecognition/\.settings/

application/faceRecognition/admin-service/\.settings/

application/faceRecognition/admin-service/\.classpath

application/faceRecognition/admin-service/\.project

application/faceRecognition/\.project

application/faceRecognition/utils-service/target/

application/faceRecognition/utils-service/\.settings/

application/faceRecognition/utils-service/\.classpath

application/faceRecognition/utils-service/\.project

application/faceRecognition/user-service/\.settings/

application/faceRecognition/faceRecognition-service-api/\.settings/

application/faceRecognition/faceRecognition-service-api/\.classpath

application/faceRecognition/faceRecognition-service-api/\.project

application/faceRecognition/user-service/\.classpath

application/faceRecognition/user-service/\.project
