@media(max-width:767px) {
	.sidebar-wrapper {
		position: relative;
		padding: 0;
	}
	.sidebar-wrapper > .mobile-wrap {
		background: #e3e3e3;
		padding: 1px 10px;
		margin-bottom: 0;
		position: relative;
		width: 100%;
	}

	#Catslide {
		display: none;
		background: #fdfdfd;
	}
}

.sidebar-wrapper > h3 {
	border-bottom: 1px solid #555;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.sidebar-wrapper > div > ul {
	margin-left: 1em;

	font-family: 'Josefin Sans', sans-serif;
}
.sidebar-wrapper > div > ul >*{
	font-family: 'Josefin Sans', sans-serif;
}
.sidebar-wrapper ul {
	list-style: none;
	padding: 5px 1em;
}
.sidebar-wrapper li {
	margin: 7px 0;
}
.sidebar-wrapper li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.15em 0 0.15em 0.25em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.sidebar-wrapper li > a {
	font-size: 12pt;
	color: black;
}
