<div class="basket-container col-sm-5 col-md-4 col-xs-12">
  <div class="basket">
    <button onclick="hideBasket()" class="btn btn-defualt closes" type="button" name="button"><i class="fa fa-times"></i></button>

    <div class='content'>
      <h2>VARUKORG</h2>
      <h3 class="error"></h3>
      <div class="header">
        <h3 class='labels'><span>ANTAL</span><span id="count">0st</span></h3>
        <h4 class='labels'><span>PRIS</span><span id="price">0kr</span></h4>
        <div><a class="btn btn-link" href="/order">TILL KASSA</a></div>
      </div>
      <hr>
      <div class="body">
        <ul id='basket_list'></ul>
      </div>
    </div>
  </div>
</div>

<div id=popup-container>
  <div id="popup"></div>
</div>
