<footer class="col-xs-12">
  <br>
  <div class="container">

    <div class="col-sm-4">
      <h3 class="lightFont">Kontakta oss</h3>
      <address>
        <strong>Norr, Inc.</strong><br>
        <em>Kristina Nilssons väg 5</em>, 352 39<br>
        Sweden, Växjö<br>
        <abbr title="Phone">Tel:</abbr> (+46) 123-456789<br>
        <abbr title="Email">Email:</abbr> Norr1945@gmail.com
      </address>
    </div>
    <div class="col-sm-4">
      <h3 class="lightFont">Om oss</h3>
      <p>Norr är ett svenskt mode företag grundad av <em>Sebastian Marchant</em> &amp; <em>Julia Hultqvist</em> 2016. Från Växjö's egna Norr, en ort <em>Sebastian</em> vuxit upp redan från dag ett.</p>
      <h5 class="lightFont">Lär känna Norrs kultur med våra klädesplagg.</h5>
    </div>
    <div class="col-sm-4">
        <h3 class="lightFont">Sociala Medier</h3>
        <ul class="list-unstyled" style="padding-left: 20px;">
          <li><a href="#">FaceBook <i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#">Instagram <i class="fa fa-instagram"></i></a></li>
          <li><a href="#">Snapchat <i class="fa fa-snapchat-ghost"></i></a></li>
        </ul>
    </div>
  </div>
</footer>
