<link rel="stylesheet" href="css/client/fields.css">
<script src="js/admin/layout.js"></script>

<div class="container">

	<div id="content"></div>
	<script>
	  var layout = <%- JSON.stringify(layout) %>; // remove in home.ejs (.fields)
		layout.splice(0, 1);
	  Generate(layout, undefined, true);
		getHearts();
	</script>
</div>
