<link rel="stylesheet" href="css/client/products.css">
<script type="text/javascript" src="js/client/products.js"></script>

<% include sidebar.ejs %>

<script>
	$(document).ready(init());
</script>

<div class="container productsList col-md-9 col-lg-10 col-sm-8 col-xs-12">

</div>
