<link rel="stylesheet" href="css/sidebar.css" >
<script src="js/client/categories.js"></script>

<div class="sidebar-wrapper col-md-3 col-lg-2 col-sm-4 col-xs-12">
	<h3 class="hidden-xs">KATEGORIER</h3>
	<div class="mobile-wrap visible-xs">
		<button onclick="Catslide();" class="btn btn-link" type="button" name="categoryBtn"><i class="fa fa-bars fa-2x"></i></button>
	</div>

	<div id="Catslide">
		<ul id="categoryList"></ul>
		<hr class="visible-xs">
	</div>
</div>

<script>

<% if (typeof headId != 'undefined') { %>
	var CATEGORYID = "<%= headId %>";
	var categories = <%- JSON.stringify(categories) %>;
	print(categories, 0, $('#categoryList'), 0);
<% } else { %>
	var CATEGORYID = 1;
	$.ajax({
		method: 'get',
		url: '/category',
		success: function(categories){
			print(categories, 1, $('#categoryList'), 1);
		},
		error: function(xhr){
			console.log(xhr);
			showError('Could not load categories');
		}
	})
<% } %>
</script>
