<link rel="stylesheet" href="css/client/fields.css">
<script src="js/admin/layout.js"></script>
<script src="js/admin/upload.js"></script>

<div id="content"></div>
<button type="button" name="button" onclick="save();" class='btn btn-success sharp'>Spara</button>
<script>
  var layout = <%- JSON.stringify(content.layout) %>; // remove in home.ejs (.fields)
  layout.splice(0, 1);
  Generate(layout, true);

  // window.onload
</script>


<div id="popup-container">
<div id="popup">
	<div>
		<form>
		  <div class="form-group">
		    <label for="name">NAMN</label>
		    <input type="text" class="form-control" id="img_name" placeholder="Exempel namn">
		  </div>
		  <div class="form-group">
		    <input type="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" accept='image/*'> <!--multiple-->
		    <label for="file"><i class="fa fa-upload" aria-hidden="true"></i><span>BAKGRUNDS-BILD</span></label>
		    <p class="help-block">Lägg till en bakgrundsbild för fältet.</p>
		  </div>
      <div class="form-group">
		    <label for="name">DIREKT LÄNK</label>
		    <input type="text" class="form-control" id="file_link" placeholder="Exempel link">
		  </div>
		  <hr>
		  <button type="button" id="imgupload" class="btn btn-default">Lägg till</button> <span>Allt korrekt?</span>
		</form>
	</div>
  <div>
		<form>
      <div class="form-group">
		    <label for="name">LÄNK</label>
        <input type="text" class="form-control" id="field_link" placeholder="Exempel link">
		  </div>
		  <hr>
		  <button type="button" id="field_link_btn" class="btn btn-default">Lägg till</button>
		</form>
	</div>
  <div class="picker-wrapper">
    <button class="btn btn-default">Select color</button>
    <div class="color-picker"></div>
  </div>
</div>
</div>

<div class="info">
		<img src="http://www.tbaf.org.tw/event/2016safe/imgs/loader1.gif" alt="loading gif">
		<p>Uploading page <span id="current">0</span> of <span id="count"></span></p>
</div>
