<link rel="stylesheet" href="css/admin/product.css" >
<script src="js/admin/orders.js"></script>

<div class="col-xs-12 col-md-10 col-md-offset-1 table-responsive row">
<table class="table table-striped" offset="0" order="date">
	<thead>
	<tr>
		<th class='not'></th>
		<th type="date">DATUM <i class="fa fa-caret-down"></i></th>
		<th type="userid">KUND-ID <i class="fa fa-caret-left"></i></th>
		<th type="price">TOTAL PRIS <i class="fa fa-caret-left"></i></th>
		<th class='not'>KUNDNAMN</th>
		<th class='not'>EMAIL</th>
		<th class='not'>ADRESS</th>
		<th type="id">ORDER-ID <i class="fa fa-caret-left"></i></th>
		<th class='not'></th>
	</tr>
	</thead>
	<tbody></tbody>
</table>
</div>

<div class="row">
<div class="btn-group col-md-offset-4 col-sm-offset-3">
	<button class="btn btn-primary btn-info first" onclick="first()">
		<i class="fa fa-caret-left"></i>FIRST
	</button>
	<button class="btn btn-primary btn-info prev" onclick="prev()">
		<i class="fa fa-angle-left"></i>PREV
	</button>
	<button class="btn btn-primary next" onclick="next()">
		NEXT<i class="fa fa-angle-right"></i>
	</button>
	<button class="btn btn-primary last" onclick="last()">
		LAST<i class="fa fa-caret-right"></i>
	</button>
</div>
</div>

<div id=popup-container>
  <div id="popup"></div>
</div>
